# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyCkMsGN5PpQJoQggah7LKiwhy3dRebS2tI"
VITE_FIREBASE_AUTH_DOMAIN="porfolio-95ac1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="porfolio-95ac1"
VITE_FIREBASE_STORAGE_BUCKET="porfolio-95ac1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="570537351127"
VITE_FIREBASE_APP_ID="1:570537351127:web:f03018aeb50d09af361d92"
VITE_FIREBASE_MEASUREMENT_ID="G-M5G9MJTX6V"

# Admin Credentials
VITE_ADMIN_EMAIL=admin@example.com
VITE_ADMIN_PASSWORD=12345678
